@media screen and (max-width:769px) {

    .logo {
        display: none;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .search input {
        width: 250px;
        height: 30px;
    }

    /* .overview_cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 40px;
    } */

    .overview_card_icon svg {
        width: 25px;
        height: 25px;
    }
}