* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
    background-color: white;
}

header h1 span {
    color: #777;
}

header nav {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting_profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.setting,
.nav {
    margin-inline-end: 30px;
}

.profile {
    display: flex;
    align-items: center;
}

.img_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    border-radius: 50%;
    margin-inline-end: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: grayscale(100%);
}



.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px black solid;
    padding: 5px;
    border-radius: 5px;
}

.search input {
    width: 400px;
    height: 35px;
    background-color: inherit;
    border: none;
}

.search label {
    margin-inline: 10px;
}

main {
    display: flex;
}

.open_sidebar,
.bi-gear,
.bi-bell:hover {
    cursor: pointer;
}

.sidebar {
    padding-top: 88px;
    width: 333px;
    height: 100vh;
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.home,
.forms,
.tables,
.error_pages,
.ui_element,
.additional_pages,
.extra_pages,
.chat,
.invoice {
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

svg {
    width: 20px;
    height: 20px;
    margin-inline-end: 10px;
}

i {
    margin-inline-end: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}

h2 {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownToggel {
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px 10px 15px;
}


.dropdownToggel:hover {
    background-color: #142127;
    color: white;
    cursor: pointer;
}

.dropdown {
    display: none;
    margin-block: 10px;
}

.dropdown_active {
    display: block;
    border-radius: 5px;
}

.dropdown_active_color {
    background-color: #142127;
    color: white;
}


.dropdown a {
    color: black;
    font-size: 18px;
}

.dropdown div {
    cursor: pointer;
    padding: 15px;
    padding-inline-start: 15px;
}

.dropdown div:hover {
    background-color: #142127;
    color: white;
    border-radius: 10px;

    a {
        color: white;
    }
}

.dropdown div:hover i {
    padding-right: 10px;
}

/* style content */
.content {
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;
    padding: 108px 30px 30px;
    overflow-y: scroll;
}

.overview_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 25px;
}

.overview_card {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #142127;
    border-radius: 7px;
    padding: 10px;
}

.overview_card_title span {
    font-size: 25px;
    font-weight: bold;
}

.overview_card_icon svg {
    width: 30px;
    height: 30px;
}

.loading{
    width: 100%;
    height: 100vh; 
    position:  fixed; 
    background-color: #ffffff;
}
.loader {
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top: 50%;
    height: 7px;
    width: 178px;
    --c:no-repeat linear-gradient(#000000b4 0 0);
    background: var(--c),var(--c),#ffffff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }